body { 
    background-color: rgba(165, 187, 66, 0.204);
    background-image: url(gifbg.gif); 
    background-attachment: fixed;
    background-size: cover;
}
body {
    font-size: large;
    font-family: Arial;
    margin: 40px;
}
p {
	text-align: left;
}